/* Write your CSS here */
.coverage-container {
  background-color: #1c1c2b;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
.coverage-heading {
  color: #94a3b8;
  font-size: 20px;
  font-family: 'Roboto';
}
.bar-border {
  border-radius: 10px;
}
